@import "./variables.css";


/*#082543
#0f263b
#0a3158
#0f447a
#1563b0
#1976d2

ultima cor 
105899


135deg
*/

.hero {                                         
      background: linear-gradient(135deg,#0f263b,#0a3158 ,#0f447a,#1563b0,#1976d2 );
      color: white;
      padding: 120px 5% 80px 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      align-items: center;
      min-height: 100vh;
    }

    .hero-text h1 {
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
      line-height: 1.2;
    }

    .hero-text span {
      background:var(--amarelo-solar);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-shadow: 0 5px 20px #fdc60088;
    }

    .hero-text p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      opacity: 0.9;
    }

    .cta-btn {
      display: inline-block;
      background:#00c853;
      color: white;
      padding: 15px 35px;
      text-decoration: none;
      border-radius: 30px;
      font-weight: bold;
      font-size: 1.1rem;
      transition: all 1s ease;
      box-shadow: 0 5px 20px rgba(36, 175, 9, 0.3);
    }

    .cta-btn:hover {
      transform: translateY(-1px);
      box-shadow: 0 8px 25px rgba(43, 255, 0, 0.4);
      transition: 0.5s;
      transform: scale(1.2);
    }

    .hero-img {
      text-align: center;
    }

    .forma_img {
      width: 100%;
      max-width: 600px;
      border-radius: 120px 50px 120px 50px ;
      box-shadow: rgba(0, 0, 0, 0.9);
      transition: transform 0.3s ease;
      font-weight: bold;
      margin-top: -90px;
      
    }

    .forma_img:hover {
      transform: scale(1.10);
    }

    /* Linha do tempo */

    