@import "./variables.css";

.hero {                                         
      background: linear-gradient(135deg, #000000 0%, var(--azul-tecnologico) 100%);
      color: white;
      padding: 120px 5% 80px 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      align-items: center;
      min-height: 100vh;
    }

    .hero-text h1 {
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
      line-height: 1.2;
    }

    .hero-text span {
      background:var(--amarelo-solar);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-shadow: 0 5px 20px #fdc60088;
    }

    .hero-text p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      opacity: 0.9;
    }

    .cta-btn {
      display: inline-block;
      background:#00c853;
      color: white;
      padding: 15px 35px;
      text-decoration: none;
      border-radius: 30px;
      font-weight: bold;
      font-size: 1.1rem;
      transition: all 1s ease;
      box-shadow: 0 5px 20px rgba(36, 175, 9, 0.3);
    }

    .cta-btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 25px rgba(43, 255, 0, 0.4);
      transition: all 1s ease;
      transform: scale(1.2);
    }

    .hero-img {
      text-align: center;
    }

    .forma_img {
      width: 100%;
      max-width: 500px;
      border-radius: 20px;
      box-shadow: 0 20px 40px rgba(5, 5, 5, 0.2);
      border: 2px solid #ace6ae;
      transition: transform 0.3s ease;
    }

    .forma_img:hover {
      transform: scale(1.05);
      border: 5px solid #ace6ae;
    }